
.panel.main > .panel-heading
{
    background-image: none;
    background-color: #7ec2c0;
    border: none;
}

.quest-comment > .panel-body
{
    display: none;
}

.comment-icon
{
    background-image: none;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #666;
    margin-left: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.panel.main
{
    border-color: #7ec2c0;
    text-align: left;
}

.comment-list .panel
{
    position: relative;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.comment-list .panel > .panel-heading::after,
.panel > .panel-heading::before
{
    position: absolute;
    top: 11px;
    left: -15px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.comment-list .panel > .panel-heading::after
{
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.comment-list .panel > .panel-heading::before
{
    border-right-color: #ddd;
    border-width: 8px;
}

.comment-list .panel-heading
{
    background-image: none;
}

.comment-list .thumbnail
{
    padding: 0;
}

.comment-list .row
{
    margin: 0;
}

.send-com
{
    margin: 20px 5px 20px 0;
    padding: 10px;
    background-image: none;
}
