.panel.main
{
    margin-top: 0 !important;
}

.panel.main > .panel-heading
{
    background: none #7ec2c0;
    border: none;
}

.panel-body
{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.comment-icon
{
    background-image: none;
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #666;
    display: inline-block;
    margin: 0 5px 10px 5px;
    font-size: 30px;
}

.comment-title
{
    font-size: 20px;
    text-align: left;
    margin: auto auto 15px 35px;
    cursor: pointer;
    width: auto;
}

.panel.main
{
    border-color: #7ec2c0;
    text-align: left;
    margin-top: 15px;
}

.comment-list .panel
{
    position: relative;
}

.panel > .panel-heading::before,
.comment-list .panel > .panel-heading::after
{
    position: absolute;
    top: 11px;
    left: -15px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.comment-list .panel > .panel-heading::after
{
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.comment-list .panel > .panel-heading::before
{
    border-right-color: #ddd;
    border-width: 8px;
}

.comment-list .panel-heading
{
    background-image: none;
}

.comment-list .thumbnail
{
    padding: 0;
}

.comment-list .row
{
    margin: 0;
}

.send-com
{
    margin: 20px 5px 20px 0;
    padding: 10px;
    background-image: none;
}
