.more-btn
{
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

#list-of-quests .btn-default
{
    background-color: #a8cc77;
    background-image: none;
    text-shadow: none;
}

@media screen and (min-width: 768px)
{
    .img-box
    {
        margin: auto;
        overflow: hidden;
        width: 90%;
    }
}

