#list-of-quests .btn-default
{
    background: none #a8cc77;
    text-shadow: none;
    text-transform: lowercase;
    letter-spacing: 1px;
}

.img-box
{
    margin: auto;
    overflow: hidden;
    width: 90%;
}

.more-loading-gif
{
    height: 130px;
    background: url("magnify.gif") no-repeat center;
}
