{{#extend "base"}}
    {{#content "title"}}
        <title>Фотоквесты</title>
    {{/content}}

    {{#content "styles"}}
        <link rel="stylesheet" href="/index.css">
    {{/content}}

    {{#content "main"}}
        <div id="listOfQuests" class="main-content">
            {{#each quests}}
                <div class="quest">
                    <div class="quest-name">
                        <p class="quest-name-a"><a href={{url}}>{{title}}</a></p>
                    </div>
                    <img class="quest-img img-rounded" src={{photo}}>
                </div>
            {{/each}}
        </div>
    {{/content}}

    {{#content "scripts"}}
        <script src="/index.js"></script>
    {{/content}}
{{/extend}}
