{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "jquery" : true
  },
  "extends": "xo",
  "rules": {
    "indent": [2, 4, {"SwitchCase": 1}],
    "max-len": [2, 100],
    "max-params": [2, 3],
    "linebreak-style": [1, "unix"]
  }
}
