<header>
    <div class="header-title">
        <a href="/">ФотоКвесты by Team4</a>
    </div>
    <div>
        <div>
            {{#if commonData.user}}
                <a class="header-links-a logout" href="">Выход</a>
                <a class="header-links-a" href="">Создать квест</a>
            {{else}}
                <a class="header-links-a" href="/auth">Вход</a>
                <a class="header-links-a" href="/reg">Регистрация</a>
            {{/if}}
        </div>
        <div class="header-search">
            <input type="search" placeholder="Поиск квеста">
            <input type="button" value="Найти">
        </div>
    </div>
</header>
