<header>
    <div class="brand"><a href="/">ФотоКвесты by Team4</a></div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/">ФотоКвесты</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="search-line">
                        <form class="search">
                            <input type="search" name="search" class="search-field" placeholder="Поиск квеста!">
                            <button type="submit" class="search-btn"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </li>
                    {{#if commonData.user}}
                        <li>
                            <a href="/create-quest">Создать квест</a>
                        </li>
                        <li>
                            <a id="logout" href="#">Выход</a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/auth">Вход</a>
                        </li>
                        <li>
                            <a href="/reg">Регистрация</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <script src="//dream-team-4.surge.sh/horsey.js"></script>
</header>
