header
{
    background: rgba(255, 255, 255, 0.5);
}

header form
{
    display: flex;
    height: 42px;
    cursor: pointer;
    margin: 30px 0 10px 15px;
    border: 1px solid #999;
}

header form input
{
    width: 100%;
    padding: 11px 12px 9px;
    height: 40px;
    border: none;
    color: #181818;
}

header a:hover
{
    text-decoration: none;
    color: #337ab7;
}

header .glyphicon
{
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    hyphens: auto;
    width: 100%;
    font-size: 22px;
}

p
{
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr
{
    max-width: 400px;
    border-color: #999;
}

footer
{
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
}

footer p
{
    margin: 0;
    padding: 50px 0;
}

.navbar-nav
{
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.navbar-nav > li > a
{
    color: #286090;
}

.navbar-brand
{
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: #2e6da4;
}

.brand
{
    display: none;
}

.brand-before,
.brand-name
{
    text-transform: capitalize;
}

.brand-before
{
    margin: 15px 0;
}

.brand-name
{
    margin: 0;
    font-size: 4em;
}

.tagline-divider
{
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999;
}

.intro-text
{
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 1px;
}

.img-full
{
    min-width: 100%;
}

.img-border
{
    float: none;
    margin: 0 auto 0;
    border: #999 solid 1px;
}

.img-left
{
    float: none;
    margin: 0 auto 0;
}

.search-btn
{
    height: 40px;
    width: 40px;
    border: none;
    background-color: #a8cc77;
}

.search-dropdown
{
    width: calc(100% - 15px);
    margin-left: 15px !important;
}

.box
{
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
}

@media screen and (min-width: 768px)
{
    .navbar-nav
    {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }

    .navbar-nav > li > a
    {
        line-height: normal;
    }

    .nav > li > a
    {
        padding: 35px;
    }

    .navbar
    {
        border-radius: 0;
        min-height: 0;
    }

    .navbar-header
    {
        display: none;
    }

    .navbar-default
    {
        border: none;
        background: #fff;
        background: rgba(255, 255, 255, 0.4);
    }

    .brand
    {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #337ab7;
    }

    .top-divider
    {
        margin-top: 0;
    }

    .img-left
    {
        float: left;
        margin-right: 25px;
    }

    .box
    {
        margin: auto;
        width: 75%;
    }
}

@media screen and (min-width: 1200px)
{
    .box::after
    {
        content: "";
        display: table;
        clear: both;
    }
}

#search-input
{
    font-size: 16px;
}
