.sey-list
{
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 45px !important;
    left: 0 !important;
    list-style-type: none;
    box-shadow: 1px 2px 6px;
    background-color: #fff;
    color: #333;
    transition: left 0.1s ease-in-out;
}

@media screen and (min-width: 768px)
{
    .sey-list
    {
        top: 75px !important;
    }
}

.sey-show
{
    display: block;
}

.sey-hide
{
    display: none;
}

.sey-item
{
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px;
}

.sey-item:hover
{
    background-color: #a8cc77;
    color: #fff;
}

.sey-selected
{
    background-color: seagreen;
    color: #fff;
}
