html
{
    overflow-x: hidden;
}

body
{
    background-color: black !important;
}

.form-of-authorization
{
    width: 480px;
    margin: 100px auto;
    padding: 10px;
}

.link-for-checkIn
{
    float: right;
}
