<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
{{> header/header }}

{{> footer/footer }}

<script src="/authorizathion.js"></script>
</body>
</html>