{{#extend "base"}}
    {{#content "title"}}
        <title>Авторизация</title>
    {{/content}}

    {{#content "styles"}}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        {{#if commonData.isDev}}
            <link rel="stylesheet" href="//dream-team-4.surge.sh/authorization.css">
        {{else}}
            <link rel="stylesheet" href="/authorization.css">
        {{/if}}
    {{/content}}

    {{#content "main"}}
        <div class="form">
            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Войдите на наш сайт</h3>
                        <p>Введите e-mail и пароль:</p>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-key"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    <form role="form" action="" method="post" class="login-form" id="auth-form">
                        <div class="form-group">
                            <label class="sr-only" for="form-username">E-mail</label>
                            <input type="text" name="form-username" placeholder="E-mail..." class="form-username form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-password">Пароль</label>
                            <input type="password" name="form-password" placeholder="Пароль..." class="form-password form-control" id="password">
                        </div>
                        <button type="submit" class="btn">Вход</button>
                        <a href="/reg" class="link-for-checkIn">Регистрация</a>
                    </form>
                </div>
            </div>
        </div>
    {{/content}}

    {{#content "scripts"}}
        <script src="/authorization.js"></script>
    {{/content}}
{{/extend}}
