body
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("back.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

input,
input:active
{
    outline: none;
}

input::-webkit-input-placeholder
{
    text-indent: 0;
    transition: text-indent 0.3s ease;
}

input::-moz-placeholder
{
    text-indent: 0;
    transition: text-indent 0.3s ease;
}

input:-moz-placeholder
{
    text-indent: 0;
    transition: text-indent 0.3s ease;
}

input:-ms-input-placeholder
{
    text-indent: 0;
    transition: text-indent 0.3s ease;
}

input:focus::-webkit-input-placeholder
{
    text-indent: 1000px;
    transition: text-indent 0.3s ease;
}

input:focus::-moz-placeholder
{
    text-indent: 1000px;
    transition: text-indent 0.3s ease;
}

input:focus:-moz-placeholder
{
    text-indent: 1000px;
    transition: text-indent 0.3s ease;
}

input:focus:-ms-input-placeholder
{
    text-indent: 1000px;
    transition: text-indent 0.3s ease;
}

button,
button:active
{
    outline: none !important;
}

.danger-message
{
    display: none;
    padding: 10px 20px;
    text-align: center;
}
