
<div>
    <div id="map" style="width: 100%; height: 320px"></div>
    <input
        type="text"
        value="город Екатеринбург, "
        class="address-field"
        autofocus
        onfocus="this.selectionStart = this.selectionEnd = this.value.length;"
    />
    <input type='button' class="location-search-button" value="Поиск" /><br/>
    Определить текущее местоположение
    <input type='button' class="current-location-search-button" value="Поиск" />
</div>
