<div class="ymap"></div>
<br>
<div class="input-group">
    <select class="combobox">
        <option></option>
   </select>
    <span class="input-group-btn">
        <button class="btn btn-default js-current-location-search-button" style="float: right" type="button">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        </button>
    </span>
</div>
