<div class="ymap"></div>
<br>
<div class="input-group">
    <input type="text" class="form-control js-address-field" placeholder="Введите адрес">
    <span class="input-group-btn">
        <button class="btn btn-primary js-location-search-button" type="button">Найти</button>
        <button class="btn btn-secondary js-current-location-search-button" type="button">
            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
        </button>
    </span>
</div>
