<div class="ymap"></div>
<br>
<div class="input-group">
    <input type="text" class="form-control js-address-field" value="Екатеринбург, " placeholder="Введите адрес">
    <span class="input-group-btn">
        <button class="btn btn-primary js-location-search-button" type="button">Найти</button>
        <button class="btn btn-default js-current-location-search-button" type="button">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        </button>
    </span>
</div>
<select class="combobox">
  <option></option>
  <option value="PA">Pennsylvania</option>
  <option value="CT">Connecticut</option>
  <option value="NY">New York</option>
  <option value="MD">Maryland</option>
  <option value="VA">Virginia</option>
</select>
