
<div class="ymap"></div>
<input
    type="text"
    value="город Екатеринбург, "
    class="form-control address-field"
/>
<span>Поиск по адресу/координатам</span>
<input type='button' class="location-search-button" value="Поиск" /><br/>
<span>Определить текущее местоположение</span>
<input type='button' class="current-location-search-button" value="Поиск" />
