.place
{
    width: 100%;
    margin: auto;
    position: relative;
}

.img img
{
    width: 100%;
    max-width: 100%;
}

.img
{
    overflow: hidden;
    padding: 9px 9px 0 9px;
}

.place-title
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    max-width: 80%;
    display: inline-block;
    margin: 0;
}

.place-head
{
    display: inline-block;
    margin: 10px auto;
    width: 90%;
}

.success-checkIn
{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 100px;
    color: #a8cc77;
}

@media screen and (min-width: 768px)
{

    .place
    {
        width: 80%;
        margin: auto;
    }

    .img
    {
        margin: 5% auto 0;
        width: 90%;
        max-height: 600px;
        padding: 0;
    }

    .img img
    {
        border: 1px solid #ddd;
    }

    .success-checkIn
    {
        font-size: 150px;
        right: 10px;
        top: 10px;
    }

    .place-title
    {
        margin-bottom: 10px;
        display: inline;
    }

    .place-head
    {
        width: 100%;
    }
}
