{{#extend "base"}}
    {{#content "title"}}
        <title>Не найдено</title>
    {{/content}}

    {{#content "styles"}}
        <link rel="stylesheet" href="/notFound.css">
    {{/content}}

    {{#content "main"}}
        <div class="main-div">
            <img src="http://iconspot.ru/image.php?width=512&height=512&crop=none&id=7196">
            <div>
                <p>
                    Ой, ничего нет. Но <a href='/'>здесь</a> есть много интересного.
                </p>
            </div>
        </div>
    {{/content}}

    {{#content "scripts"}}
        <script src="/notFound.js"></script>
    {{/content}}
{{/extend }}
