img
{
    height: 400px;
}

.main-div
{
    text-align: center;
}

.message
{
    font-size: 25px;
}

@media screen and (min-width: 768px)
{
    img
    {
        width: 450px;
        height: 450px;
    }

    .message
    {
        font-size: 60px;
    }
}
