.col-xs-6.img-contaner
{
    padding: 0;
}

.quest-img
{
    height: 140px;
    width: 140px;
    overflow: hidden;
    border: 1px solid grey;
}

img
{
    width: 90%;
    height: 90%;
}
