{{#extend "base"}}

    {{#content "head-scripts" mode="append"}}
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    {{/content}}

    {{#content "title"}}
        <title>Создания квеста</title>
    {{/content}}

    {{#content "styles"}}
        {{#if commonData.isDev}}
            <link rel="stylesheet" href="/createQuest.css">
        {{else}}
            <link rel="stylesheet" href="//dream-team-4.surge.sh/createQuest.css">
        {{/if}}
    {{/content}}

    {{#content "main"}}
        <div class="container">
            <div class="row">
                <div class="box loading-gif" style="display: none"></div>
                <div class="box">
                    <h2 class="text-center">Создание квеста</h2>
                    <div class="col-lg-12">
                        <form role="form" action="" method="post" class="js-create-quest-form">
                            <div class="form-group has-feedback has-error">
                                <div class="js-input-group">
                                    <label class="sr-only" for="title-quest">Название квеста</label>
                                    <input type="text" name="title-quest" class="form-control" placeholder="Название квеста" required/>
                                    <span class="form-control-feedback glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback has-error">
                                <div class="js-input-group" data-validate="length" data-length="10">
                                    <textarea type="text" name="desc-quest" class="form-control resize-vertical" placeholder="Описание квеста" required></textarea>
                                    <span class="form-control-feedback glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </div>
                            </div>
                            <hr>
                            <h3>Места</h3>
                            <div class="hidden js-map-template">
                                {{> yandexMap/yandexMap}}
                            </div>
                            <div class="one-place hidden js-place js-place-template">
                                <div class="form-group has-feedback has-error">
                                    <div class="js-input-group">
                                        <input type="text" name="title-place" class="form-control" placeholder="Название места" required/>
                                        <span class="form-control-feedback glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="form-group has-feedback has-error">
                                    <div class="js-input-group">
                                        <input type="text" name="address-place" class="form-control js-address-place" placeholder="Адрес" required disabled/>
                                        <span class="form-control-feedback glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <input type="text" name="geo-place" class="form-control js-coordinates-place" style="display: none" placeholder="Координаты"/>
                                </div>
                                <div class="js-map-box"></div>
                                <div class="form-group has-feedback has-error js-file-input-div">
                                    <div class="custom-image-preview js-custom-image-preview"></div>
                                    <div class="input-group js-input-group">
                                        <!-- don't give a name === doesn't send on POST/GET -->
                                        <input type="text" name="image-place" class="form-control image-preview-filename js-image-preview-filename" style="width: 99.8%" required disabled/>
                                        <span class="form-control-feedback glyphicon glyphicon-remove js-fix-glyphicon" style="right: 40px;" aria-hidden="true"></span>
                                        <span class="input-group-btn">
                                            <!-- image-preview-clear button -->
                                            <button type="button" class="btn btn-default image-preview-clear js-image-preview-clear" style="display: none">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <!-- image-preview-input -->
                                            <div class="btn btn-default image-preview-input js-image-preview-input">
                                                <span class="glyphicon glyphicon-folder-open"></span>
                                                <input accept="image/png, image/jpeg, image/gif" type="file" name="input-file-preview" />
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <span class="glyphicon glyphicon-trash remove-button js-remove-place"></span>
                            </div>
                            <div class="js-places">
                                <div class="one-place js-place">
                                    <div class="form-group has-feedback has-error">
                                        <div class="js-input-group">
                                            <input type="text" name="title-place" class="form-control" placeholder="Название места" required/>
                                            <span class="form-control-feedback glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback has-error">
                                        <div class="js-input-group">
                                            <input type="text" class="form-control js-address-place" placeholder="Адрес" required disabled/>
                                            <span class="form-control-feedback glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="text" name="geo-place" class="form-control js-coordinates-place" style="display: none" placeholder="Координаты"/>
                                    </div>
                                    <div class="js-map-box"></div>
                                    <div class="form-group has-feedback has-error js-file-input-div">
                                        <div class="custom-image-preview js-custom-image-preview"></div>
                                        <div class="input-group js-input-group">
                                            <!-- don't give a name === doesn't send on POST/GET -->
                                            <input type="text" name="image-place" class="form-control image-preview-filename js-image-preview-filename" style="width: 99.8%" required disabled/>
                                            <span class="form-control-feedback glyphicon glyphicon-remove js-fix-glyphicon" style="right: 40px;" aria-hidden="true"></span>
                                            <span class="input-group-btn">
                                                <!-- image-preview-clear button -->
                                                <button type="button" class="btn btn-default image-preview-clear js-image-preview-clear" style="display: none">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                                <!-- image-preview-input -->
                                                <div class="btn btn-default image-preview-input js-image-preview-input">
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                    <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center" style="height: 130px;">
                                <button type="button" class="btn btn-info btn-circle btn-lg add-button js-add-place">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <br>
                                <button type="submit" class="btn btn-success col-md-6 col-md-offset-3 create-button" disabled>
                                    Создать
                                </button>
                            </div>
                            <br>
                            <div class="bg-danger danger-message"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}

    {{#content "scripts"}}
        {{#if commonData.isDev}}
            <script src="/createQuest.js"></script>
        {{else}}
            <script src="//dream-team-4.surge.sh/createQuest.js"></script>
        {{/if}}
    {{/content}}
{{/extend}}
