.fix-box
{
    padding-bottom: 60px;
}

.resize-vertical
{
    resize: vertical;
}

.one-place
{
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid;
}

.custom-image-preview
{
    margin: 5px 0;
}

.image-preview-input
{
    position: relative;
    overflow: hidden;
    margin: 0;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type=file]
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-circle
{
    padding: 6px 0;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle:focus,
.btn-circle:active,
.btn-circle:focus:active
{
    outline: none;
}

.btn-circle.btn-lg
{
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl
{
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.remove-button
{
    margin: 15px;
    font-size: 30px;
    cursor: pointer;
}

.add-button
{
    margin-bottom: 20px;
}
